*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html{
    font-size: 62.5%;
}

.body1{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    /* margin-top: 20px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: rgba(0,0,0, 0.8);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nav-logo{
    font-size: 3rem;
    text-decoration: none;
    color: crimson;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.nav-logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover, nav a.nav-home{
    color: crimson;
    border-bottom: 3px solid crimson;
}

nav button{
    font-size: 1.8rem;
    color: crimson;
    background-color: black;
    height: 4rem;
    width: 12rem;
    border: 2px solid crimson;
    border-radius: 4rem;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.5s ease;
}

nav button:hover{
    transform: scale3d(1.03);
    background-color: crimson;
    color: black;
    box-shadow: 0 0 25px crimson;
}

@media(max-width:995px){
    nav{
        position: absolute;
        /* display: none; */
        top: 100%;
        right: 0;
        width: 20rem;
        text-align: center;
        border-top: 3px solid crimson;
        border-left: 3px solid crimson;
        border-bottom: 3px solid crimson;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        padding: 1rem solid;
        background-color: #161616;
        /* border-top: 0.1rem solid rgba(0,0,0,0.1); */
    }

    nav .nav-home{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 0 0 1rem 0;
    }

    nav a:hover, nav a.nav-home{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid crimson;
    }

    nav button{
        display: block;
        font-size: 2rem;
        width: 100%;
        margin: 0.5rem;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: crimson;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}
/* .home-img{
    border-radius: 50%;
} */

/* .home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0.25px solid crimson;
    cursor: pointer;
    transition: 0.2s linear;
} */

.home-img img{
    width: 36vw;
    /* border-bottom-right-radius: 32%;
    border-bottom-left-radius: 5%; */
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    color: crimson;
    background-color: transparent;
    border: 0.2rem solid crimson;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: crimson;
    box-shadow: 0 0 25px crimson;
}

.btn1{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: crimson;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid crimson;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn1:hover{
    transform: scale3d(1.03);
    background-color: crimson;
    color: black;
    box-shadow: 0 0 25px crimson;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "UI/UX Designer";
    color: crimson;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid crimson;
    }
}

@keyframes words{
    0%, 20%{
        content: "UI/UX Designer";
    }
    21%, 40%{
        content: "Web Developer";
    }
    41%, 60%{
        content: "UI/UX Designer";
    }
    61%, 80%{
        content: "Web Developer";
    }
    81%, 100%{
        content: "UI/UX Designer";
    }
}

@media(max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width: 995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h1{
        font-size: 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    /* background-color: black; */
    padding-bottom: 6rem;
}

.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 90%;
    border-radius: 50%;
    border: 2px solid crimson;
}

.about-img .circle-spin::before{
    position: absolute;
    z-index: -1;
    content: " ";
    inset: -10px;
    border-radius: 50%;
    border-left: 5px solid crimson;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid crimson;
    background-color: black;
    animation: circle 6s linear infinite;
}
@keyframes circle {
    to{
        rotate: 360deg;
    }
}

.about-content{
    text-align: center;
}

.about-content h3{
    font-size: 3.5rem;
}

.about-content p{
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
}

.btn2{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: crimson;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid crimson;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn2:hover{
    transform: scale3d(1.03);
    background-color: crimson;
    color: black;
    box-shadow: 0 0 25px crimson;
}

/* POPUP */

#popupDialog {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-111.5%, 28%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid crimson;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 100;
    visibility: hidden;
    width: 1150px;
    height: 600px;
}

.popb{
    text-align: right;
}

.popbtn{
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: crimson;
    font-weight: 600;
    border: 2px solid crimson;
    transition: 0.3s ease;
    cursor: pointer;
}

.popbtn:hover{
    transform: scale3d(1.03);
    background-color: crimson;
    color: black;
    box-shadow: 0 0 25px crimson;
}

/* SKILLS */

.skills{
    min-height: auto;
    padding-bottom: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.s-heading{
    font-size: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.skills p{
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
}

.skills .skills-row{
    display: flex;
    justify-content: space-between;
}

.skills-row .skills-item{
    width: 30rem;
    border: 0.2rem solid white;
    border-radius: 2.5rem;
    padding: 5rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-row .skills-item:hover{
    border: 0.2rem solid crimson;
}

.skills-item i{
    font-size: 8.5rem;
    color: white;
    transition: 0.5rem;
}
.skills-item i:hover{
    color: crimson;
}

.skills-item span{
    text-align: center;
}

/* PROJECTS */

.projects .heading{
    margin-top: 3rem;
}

.projects-menu{
    display: flex;
    justify-content: space-between;
    border: 0.2rem solid crimson;
    border-radius: 2.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin: 2rem;
}
.projects-menu a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

/* .projects-list{
    padding: 2.5rem 7rem;
}

.projects-row{
    display: flex;
    justify-content: space-between;
}

.projects-item{
    position: relative;
}

.projects-item .overlay{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
} */

.projectm1 {
    position: relative;
    width: 100%;
    /* max-width: 1000px; */
    margin: auto;
    overflow: hidden;
}

.projects-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.projects-list {
    min-width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 7rem;
}

.projects-list img {
    width: 400px;
    height: 250px;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    bottom: 10%;
    transform: translateY(28.5rem);
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

.carousel-control-prev {
    left: 10px;
    height: 10px;
}

.carousel-control-next {
    right: 10px;
    height: 10px;
}

.carousel-control-prev .bx, .carousel-control-next .bx{
    color: white;
}
.carousel-control-prev i:hover , .carousel-control-next i:hover {
    color: crimson;
}

.projects-row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.projects-item{
    position: relative;
}

.projects-item .overlay{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}